<%
  form_classes = "" if form_classes.nil?
%>
<div data-controller="person-form" data-person-form-reset-url-value="<%= reset_calculator_url %>">
  <%= form_with url: calculator_url,
      method: :post,
      scope: :parameters,
      class: form_classes,
      data: {
        "person-form-target": "form"
      } do |f| %>
    <div>
      <%= f.label :gender, t(:gender_input_label), class: "block" %>
      <%= f.radio_button :gender, :male, checked: (gender == :male) %>
      <%= f.label :gender_male, t(:gender_option_male) %>
      <%= f.radio_button :gender, :female, checked: (gender == :female) %>
      <%= f.label :gender_female, t(:gender_option_female) %>
    </div>
    <div>
      <%= f.label :weight_in_kilos, t(:weight_input_label), class: "block" %>
      <%= f.number_field :weight_in_kilos, in: 30..700.0, step: 0.5, value: weight_in_kilos %>
    </div>
    <div>
      <%= f.label :height_in_cm, t(:height_input_label), class: "block" %>
      <%= f.number_field :height_in_cm, in: 80..300, step: 1, value: height_in_cm %>
    </div>
    <div>
      <%= f.label :age_in_years, t(:age_input_label), class: "block" %>
      <%= f.number_field :age_in_years, in: 10..150, step: 1, value: age_in_years %>
    </div>
    <div>
      <%= f.label :activity_level, t(:activity_level_input_label), class: "block" %>
      <%= f.select :activity_level, activity_level_options, selected: activity_level %>
    </div>
    <div class="flex space-x-5">
      <%= f.button t(:reset_form_button_label), class: "btn-neutral ml-auto",
        data: { action: "click->person-form#resetForm" }
      %>
      <%= f.submit t(:submit_form_button_label), class: "btn-neutral" %>
    </div>
  <% end %>
</div>
