<div>
  <div class="flex mt-5 space-x-5">
    <%= render partial: "person_form", locals: {
      gender: @gender,
      weight_in_kilos: @weight_in_kilos,
      height_in_cm: @height_in_cm,
      age_in_years: @age_in_years,
      activity_level_options: activity_level_options,
      activity_level: @activity_level
    } %>
    <% if has_tdee? %>
      <div class="border rounded-lg p-5 space-y-5 grow">
        <p><%="#{t(:bmr_result_label)}: #{number_with_delimiter bmr.to_i} #{t(:calories)}"%></p>
        <p class="text-xl"><%="#{t(:tdee_result_label)}: #{number_with_delimiter tdee.to_i} #{t(:calories)}"%></p>
      </div>
    <% else %>
      <div class="grid content-center border rounded-lg py-5 px-20 grow text-2xl text-center">
          <p><%= t :placeholder_instruction_1 %></p>
          <p><%= t :placeholder_instruction_2 %></p>
      </div>
    <% end %>
  </div>
</div>
